.main {
  font-family: sans-serif;

  &__title, &__btn {
    text-transform: uppercase;
  }

  &__btn {
    background-color: var(--main-color);
    border-radius: 0.5rem;
    border-style: none;
    color: var(--main-bg-color);
    font-weight: bold;
    letter-spacing: .3rem;
    padding: 0.5rem 1rem;
  }
}
